<h1>Hover highlight directive</h1>
<p appHoverHighlight highlightColor="lightblue">
  Hover me to see the lightblue highlight!
</p>
<p appHoverHighlight highlightColor="pink">
  Hover me to see the pink highlight!
</p>
<p appHoverHighlight highlightColor="lightgreen">
  Hover me to see the lightgreen highlight!
</p>

<h1>Text transform directive</h1>
<p appTextTransform textTransform="uppercase">this is an uppercase text</p>
<p appTextTransform textTransform="lowercase">this is a lowercase text</p>
<p appTextTransform textTransform="capitalize">this is a capitalize text</p>

<h1>Click outside directive</h1>
<div appClickOutside>
   <p>Click outside me</p>
   <p>Click inside me</p>
</div>

<h1>Focus on directive</h1>
<p>I will be focused on load</p>
<input type="text" appFocusOn placeholder="I will be focused on load">
