<div class="emoji-search">
    <input
        type="text"
        placeholder="Search emojis..."
        [(ngModel)]="searchTerm"
        (input)="filterEmojis()"
    />

    <select [(ngModel)]="selectedCategory" 
            (change)="onCategoryChange()">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">
            {{ category }}
        </option>
    </select>

    <div class="emoji-list">
        <div *ngFor="let emoji of filteredEmojis" class="emoji-item" (click)="copyToClipboard(emoji.symbol)">
            <span class="emoji">{{ emoji.symbol }}</span>
            <span class="name">{{ emoji.name }}</span>
        </div>
    </div>

    <div *ngIf="clipboardNotification" class="notification">
        {{ clipboardNotification }}
    </div>
</div>
