.emoji-search {
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-bg-color);
    border-radius: 5px;
    color: var(--text-color);
}

.emoji-search select {
    width: 180px;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-bg-color);
    border-radius: 5px;
    color: var(--text-color);
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.emoji-item {
    padding: 10px;
    border: 1px solid var(--emoji-item-border-color);
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border-radius: 5px;
    width: 125px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.emoji-item:hover {
    background-color: var(--emoji-item-hover-bg-color);
}

.emoji-symbol {
    display: block;
    font-size: 27px;
    margin-bottom: 4px;
}

.emoji-name {
    font-size: 14px;
    color: var(--text-color);
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--notification-bg-color);
    color: var(--notification-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}