<div class="todo-container">
    <h2>Todo List</h2>
    <input type="text" 
    placeholder="Add a new task" 
    [(ngModel)]="newTask"
    (keyup.enter)="addTask()" />

    <button (click)="addTask()">Add Task</button>

    <ul>
        @if(tasks.length === 0) {
            <li>No tasks available. Add a new task!</li>
        } @else {                                                   
        <li *ngFor="let task of tasks; let i = index">
            {{ task }}
            <button class="delete-button" (click)="removeTask(i)">Remove</button>
        </li>
    }
    </ul>
</div>
